  <div class="grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-3">
       
          
              <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
                <div class="flex items-start justify-between">
                  <div class="flex flex-col space-y-2">
                    <span class="text-gray-400">Balance</span>
                    <span class="text-lg font-semibold">{{ Balance.balance}}</span>
                  </div>
                  <div class="p-10 bg-gray-200 rounded-md"></div>
                </div>
              </div>
            
              <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
                <div class="flex items-start justify-between">
                  <div class="flex flex-col space-y-2">
                    <span class="text-gray-400">Total Income</span>
                    <span class="text-lg font-semibold">{{ Balance.totalIncome}}</span>
                  </div>
                  <div class="p-10 bg-gray-200 rounded-md"></div>
                </div>
              </div>
            
              <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
                <div class="flex items-start justify-between">
                  <div class="flex flex-col space-y-2">
                    <span class="text-gray-400">Total Expense</span>
                    <span class="text-lg font-semibold">{{ Balance.totalExpense}}</span>
                  </div>
                  <div class="p-10 bg-gray-200 rounded-md"></div>
                </div>
              
              </div>
            </div>