<div class="z-50 antialiased hidePopup fixed w-full text-gray-900 font-sans overflow-x-hidden" id="updatePasswordPopup">
  <div class="relative  px-4 min-h-screen md:flex md:items-center  flex items-center md:justify-center">
    <div class="bg-black opacity-25 w-full h-full absolute z-10 inset-0"></div>
    <div class="bg-white rounded-lg min-w-[40%] md:mx-auto p-4 fixed inset-x-0  z-50 mb-4 mx-4 md:relative">
    
        <div class="p-5 bg-white md:flex-1">
          <h3 class="my-4 text-2xl font-semibold text-gray-700">Update Password</h3>
          <form action="#" class="flex flex-col space-y-5">
            
            
            
            <div class="flex flex-col space-y-1">
                <label for="editPasswordOld" class="text-sm font-semibold text-gray-500">Old Password</label>
              <input type="password" id="editPasswordOld" 
                  data-required="true"
                data-validateas="password"
                data-label="old Password"
              class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200">
            </div>
            <div class="flex flex-col space-y-1">
                <label for="editPasswordNew" class="text-sm font-semibold text-gray-500">New Password</label>
              <input type="password" id="editPasswordNew"
                 data-required="true"
                data-validateas="password"
                data-label="New Password"
               class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200">
            </div>
            <div >
              <button type="button" id="updatePassButton" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                Save
              </button>
            </div>
        <div>
              <button type="button" id="cancelUpdatePassword" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-red-500 rounded-md shadow hover:bg-red-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                Cancel
              </button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>